.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    background: #F5F5FA;
    border-top: 4px solid #E6E6F0;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.info-foot1 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    li {
        padding: 0 7px;
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        li {
            padding: 7px 7px;
        }
    }
}

.infotext {
    color: #323264;
    font: 16px/1.2 "TT Norms", sans-serif;
}

.footblue {
    color: #24A3FF;
    font: 16px/1.2 "TT Norms", sans-serif;
}

.copy {
    padding: 10px 0;
    text-align: center;
}

.con::before {
    color: #B3B3BA;
    content: "\2022"; 
    font-size: 18px;
    padding-right: 5px;
    @media (max-width: 1024px) {
        display: none;
    }
}

#map {
    text-transform: uppercase;
    font-size: 12px;
}